@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FalconMVC.ViewModels.InterfaceVM

<h4>Current Interface</h4>
<table>
    <tbody>
        <tr>
            <td>IP : </td>
            <td>@Model.Ip</td>
        </tr>
        <tr>
            <td>Name : </td>
            <td>@Model.FriendlyName</td>
        </tr>
    </tbody>
</table>

<br />

<h4>Available Interfaces</h4>
<table class="table table-striped" id="interfaceList">
    <thead>
        <tr>
            <th>IP</th>
            <th>Name</th>
            <th>Choose</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.InterfaceList.Length != 0)
        {
            @foreach (var i in ViewBag.InterfaceList)
            {
                if (@i.IpAddress.ToString() != Model.Ip)
                {
                    <tr>
                        <td>@i.IpAddress</td>
                        <td>@i.FriendlyName</td>
                        <td><input type="radio" name="chooseInterface" value="@i.IpAddress" /></td>
                    </tr>
                }

            }
        }
        else
        {
            <tr>
                <td>Not found</td>
                <td>Not found</td>
                <td>Empty</td>
            </tr>
        }
    </tbody>
</table>
<br />

<br />
<form asp-controller="Interface" asp-action="Index" method="post">
    <h6 style="visibility:hidden" id="intLabel">Selected Interface</h6><br />
    <table class="table table-info w-auto" style="visibility:hidden" id="foundInterfaces">
        <tbody>
            <tr>
                <td>IP :</td>
                <td id="selectedInterfaceIP"></td>
            </tr>
        </tbody>
    </table><br />
    <input name="ip" type="text" style="visibility:hidden" id="selectedIP" /><br />
    <input id="submitBtn" type="submit" value="Select" style="visibility:hidden" />     @* check the value send to server *@


</form>

<script src="~/js/site.js"></script>


