@using Knx.Bus.Common.KnxIp
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h6>Active interface Name : @ViewBag.InterfaceName</h6>
<h6>Active interface IP : @ViewBag.Ip</h6>
<form asp-controller="Interface" asp-action="ShowAll">
<h5>Interfaces list :</h5><br />
    <div class="interface_table">
        <table align="left" border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>IP Address</th>
                    <th>Individual Address</th>
                    <th>MAC</th>
                    <th>Use it ?</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var i in ViewBag.Interfaces)
                {
                    <tr>
                        <td>@i.FriendlyName</td>
                        <td>@i.IpAddress</td>
                        <td>@i.IndividualAddress</td>
                        <td>@i.MacAddress</td>
                        <td>
                            <input type="radio" value=@i.IpAddress.ToString() name="checkInterface"  id=@i.IpAddress.ToString() onchange="javascript: GetInterfaceIP(this)"/> 
                        </td>
                    </tr>    
                }
                
            </tbody>
        </table><br />
    </div><br />

    <div>
        <label id="activeInterface" style="visibility : collapse">
            Active interface : <input type="text" name="interfaceIP" id="activeInterfaceName" placeholder="192.168.5.1">
        </label>
    </div><br />
    <div>
        <input type="submit" value="Submit" />
    </div>
    </form>


<script type="text/javascript">
    function GetInterfaceIP(interfaceRadio)
    {
        if (interfaceRadio.checked)
        {
            document.getElementById('activeInterface').style.visibility = 'visible';
            document.getElementById('activeInterfaceName').value = interfaceRadio.value;
            document.getElementbyId('sendIpToServer').disabled = false;
        }
    }
</script>

