@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<GA>
<body onload="javascript: SetDefaultState();">
<h6>GA Archive manager</h6>
<form asp-controller="GroupAddress" asp-action="AddArchive">
<table>
    <tbody>
        <tr>
            <td>GA (_/_/_) </td><td><input name="nameGA" type="text"/></td>
        </tr>
        <tr>
            <td>Description </td><td><input name="descriptionGA" type="text"/></td>
        </tr>
        <tr>
            <td>GA Types </td>
            <td>
                <input list="types" name="typeGA" placeholder="Enter GA Type"/>
                <datalist id="types">
                    <option value="Temperature"></option>
                    <option value="Switch"></option>
                    <option value="Percent"></option>
                </datalist>
            </td>
        </tr>
    </tbody>
</table><br />

    <input type="submit" value="Add GA" /><br />
</form><br />
<fieldset disabled>
    <legend>GA List for monitoring</legend>
        @{
            if (Model is not null)
            {
                if (Model.Count() != 0)
                {
                     <table border="1">
                            <thead>
                                <tr>
                                    <th style="text-align:center">ID</th><th style="text-align:center">Group address</th><th style="text-align:center">Value type</th><th style="text-align:center">Description</th><th style="text-align:center">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                    @foreach (var ga in Model)
                    {
                            <tr>
                                <td style="width:80px; text-align:center">@ga.Id.ToString().Substring(0, 5)</td><td style="width:120px; text-align:center">@ga.GAddress</td><td style="width:120px; text-align:center">@ga.GType</td><td style="width:150px; text-align:center">@ga.Description</td><td style="width: 80px; text-align:center"><a asp-controller="GroupAddress" asp-action="Remove" asp-route-name="@ga.GAddress">Remove</a></td>
                            </tr>
                    }
                        </tbody>
                    </table>
                    <br />

                }
            }
    }
</fieldset><br />
<div>
    @if(Model is not null && Model.Count() != 0)
    {
        <button id="Start" onclick="javascript:StartMonitor();" style="font-size: 20px; color: blue">Start</button><button name="Stop" id="Stop" style="color: red; font-size: 20px" onclick="javascript:StopMonitor();">Stop</button>
    }
        else
        {
            <p>GA list is empty. Add new GA.</p>
        }
</div>

</body>

            


<script type="text/javascript">
    function StartMonitor()
    {
        alert('Start monitor');
        document.getElementById('Start').hidden = true;
        document.getElementById('Stop').hidden = false;
        localStorage.setItem("monitorState", "start");
        document.location = '@Url.Action("StartMonitor","GroupAddress")';
    }

    function StopMonitor()
    {
        document.getElementById('Start').hidden = false;
        document.getElementById('Stop').hidden = true;
        localStorage.setItem("monitorState", "stop");
        document.location = '@Url.Action("StopMonitor","GroupAddress")';
    }

    function SetDefaultState()
    {
        var state = localStorage.getItem("monitorState");
        if (state === null) {
            alert('NULL');
            document.getElementById('Start').hidden = false;
            document.getElementById('Stop').hidden = true;
            localStorage.setItem("monitorState", "stop");
        }
        else if (state == "start") {
            document.getElementById('Start').hidden = true;
            document.getElementById('Stop').hidden = false;
            localStorage.setItem("monitorState", "start");
        }
        else {
            document.getElementById('Start').hidden = false;
            document.getElementById('Stop').hidden = true;
        }
    }

    
</script>