@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<GA>

@using FalconMVC.ViewModels

<body onload="javascript: SetDefaultState();">
<h6>GA Archive manager</h6>
<partial name="_ShowInterfaceInfo" model="(InterfaceVM)ViewBag.InterfaceData">

<form asp-controller="GroupAddress" asp-action="AddArchive">
    <h4>Add new GA</h4><br />
<table>
    <tbody>
        <tr>
            <td>GA (_/_/_) </td><td><input name="nameGA" type="text"/></td>
        </tr>
        <tr>
            <td>Description </td><td><input name="descriptionGA" type="text"/></td>
        </tr>
        <tr>
            <td>GA Types </td>
            <td>
                <input list="types" name="typeGA" placeholder="Enter GA Type"/>
                <datalist id="types">
                    <option value="Temperature"></option>
                    <option value="Percent"></option>
                    <option value="Brightness"></option>
                    <option value="Switch"></option>
                </datalist>
            </td>
        </tr>
    </tbody>
</table><br />

    <input type="submit" value="Add GA" /><br />
</form><br />
<fieldset disabled>
    <legend>GA List for monitoring</legend>
        @{
            if (Model is not null)
            {
                if (Model.Count() != 0)
                {
                     <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th style="text-align:center">ID</th><th style="text-align:center">Group address</th><th style="text-align:center">Value type</th><th style="text-align:center">Description</th><th style="text-align:center">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                    @foreach (var ga in Model)
                    {
                            <tr>
                                <td style="width:80px; text-align:center">@ga.Id.ToString().Substring(0, 5)</td><td style="width:120px; text-align:center">@ga.GAddress</td><td style="width:120px; text-align:center">@ga.GType</td><td style="width:150px; text-align:center">@ga.Description</td><td style="width: 80px; text-align:center"><a asp-controller="GroupAddress" asp-action="Remove" asp-route-name="@ga.GAddress">Remove</a></td>
                            </tr>
                    }
                        </tbody>
                    </table>
                    <br />

                }
            }
    }
</fieldset><br />

</body>