@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<GAwithThreshold>

<h6>Notifications Manager</h6>

<form asp-controller="GroupAddress" asp-action="AddThresholdGA">
<table>
    <tbody>
        <tr>
            <td>GA (_/_/_) </td><td><input name="nameGA" type="text"/></td>
        </tr>
        <tr>
            <td>Description </td><td><input name="descriptionGA" type="text"/></td>
        </tr>
        <tr>
            <td>GA Types </td>
            <td>
                <input list="types" name="typeGA" placeholder="Enter GA Type"/>
                <datalist id="types">
                    <option value="Temperature"></option>
                    <option value="Switch"></option>
                    <option value="Percent"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>Max value </td><td><input name="maxValue" type="number"/></td>
        </tr>
        <tr>
            <td>Min value</td><td><input name="minValue" type="number"/></td>
        </tr>
    </tbody>
</table><br />

    <input type="submit" value="Add GA with Th" /><br />
</form><br />

<form asp-controller="GroupAddress" asp-action="Thresholds">
<div>
        @if(Model is not null && Model.Count != 0)
        {
            <fieldset>
                <legend>GA list</legend>
                    <table border="1" style="margin-bottom:20px">
                        <thead>
                            <tr>
                                <th style="text-align:center">ID</th><th style="text-align:center">Address</th><th style="text-align:center">Type</th><th style="text-align:center">Description</th><th style="text-align:center">Min value</th><th style="text-align:center">Max value</th><th style="text-align:center">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach(var ga in Model)
                            {
                                <tr>
                                    <td style="width:80px; text-align:center">@ga.Id.ToString().Substring(0, 5)</td>
                                    <td style="width:120px; text-align:center">@ga.GAddress</td>
                                    <td style="width:120px; text-align:center">@ga.GType</td>
                                    <td style="width:180px; text-align:center">@ga.Description</td>
                                    <td style="width:100px; text-align:center">@ga.ThresholdMin</td>
                                    <td style="width:100px; text-align:center">@ga.ThresholdMax</td>
                                    <td style="width:80px; text-align:center"><a asp-controller="GroupAddress" asp-action="RemoveGAWithTh" asp-route-id="@ga.Id">Remove</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </fieldset>
            <button id="StartNotifier" style="font-size: 20px; width:100px; text-align:center; color: blue; margin-right:20px">Start NS</button>
            <button id="StopNotifier" style="color: red; text-align:center; font-size: 20px; width:100px;">Stop NS</button>

        }
        else
        {
            <h6>List is empty. Add new GA.</h6>
        }

</div>
</form>
